{% extends 'base.html.twig' %}

{% block title 'Arrival and depatures for ' ~ station.name %}

{% block heading %}
    {% include 'heading.html.twig' with {
        'title': 'Arrival and depatures for ' ~ station.name,
        'subtitle': '* deviating times are marked red',
        'form': form
    } %}
{% endblock %}

{% block body %}
    {% if disruptions is not empty %}
        <div class="row">
            <div class="col-sm">
                {% for disruption in disruptions %}
                    <div class="alert alert-warning"><i class="material-icons">warning</i> {{ disruption.title }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Arrivals</h5>
                    {% include 'arrivals_table.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Departures</h5>
                    {% include 'departures_table.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
